<app-header></app-header>

<div class="container">
    <div class="card text-center mb-3 mt-3">
        <div class="card-body">
            <h5 class="card-title">Qtde de agendamentos marcados na Semana</h5>
            <p class="card-text">{{qtdAgendamentos}}</p>
        </div>
    </div>

    <div class="card text-center mb-3">
        <div class="card-body">
            <h5 class="card-title">Porcentagem em relação a semana anterior</h5>
            <p class="card-text">{{qtdAgendamentosPercent}}%</p>
        </div>
    </div>

    <div class="card text-center mb-3">
        <div class="card-body">
            <h5 class="card-title">previsão de agendamentos da semana que vem a mais que essa Semana</h5>
            <p class="card-text">{{avgAgendamentosPercent}}%</p>
        </div>
    </div>
</div>